<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class='contenedor-formulario'>
        <div class='formulario'>
            <div><ul><span>Nombre</span><input id='name' type="text"></ul></div>
            <div><ul><span>Apellido</span><input id='lastName' type="text"></ul></div>
            <div><ul><span>Fecha de Nacimiento</span><input id='birthDate' type="date"></ul></div>
            <div><ul><span>Username</span><input id='username' type="text"></ul></div>
            <div><ul><span>Password</span><input id='password' type="password"></ul></div>
            <div><ul><span>Confirme Password</span><input id='passwordConfirm' type="password"></ul></div>
        </div>
        <div class='containerButton'>
            <div class='botonCrear'>
                <span id='crearUsuario'>Crear Usuario!</span>
            </div>
        </div>
    </div>
</body>
<script src="../js/index.js"></script>
</html>